## Projeto Data Science - Grupo 3DS

Foram baixados primeiramente os arquivos de dados telemétricos das cidades de Encantado, Muçum e Santa Tereza, no período de 01/08/2023 a 31/10/2023.
Para o município de Santa Tereza, foram baixados dados de 2 estações: Santa Tereza e Linha José Julio.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df_Encantado = pd.read_csv('86720000-ENCANTADO.csv', encoding='ISO-8859-1', delimiter=';')
df_Mucum = pd.read_csv('86510000-MUCUM.csv', encoding='ISO-8859-1', delimiter=';')
df_Sta_Tereza = pd.read_csv('86472600-SANTA TEREZA.csv', encoding='ISO-8859-1', delimiter=';')
df_Lin_JJ = pd.read_csv('86472000-LINHA JOSE JULIO.csv', encoding='ISO-8859-1', delimiter=';')

In [11]:
df_Encantado.head()

,Data,Hora,Chuva (mm),Nível (cm),Vazão (m3/s),Unnamed: 5
0,01/08/2023,02:30:00,0,228,251.8,NaN
1,01/08/2023,02:45:00,0,228,251.8,NaN
2,01/08/2023,03:00:00,0,228,251.8,NaN
3,01/08/2023,03:15:00,0,227,248.1,NaN
4,01/08/2023,03:30:00,0,227,248.1,NaN

In [12]:
df_Encantado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6071 entries, 0 to 6070
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          6071 non-null   object
 1   Hora          6071 non-null   object
 2   Chuva (mm)    6071 non-null   object
 3   Nível (cm)    6071 non-null   object
 4   Vazão (m3/s)  3709 non-null   object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 284.7+ KB

In [15]:
df_Mucum.head()

,Data,Hora,Chuva (mm),Nível (cm),Vazão (m3/s),Unnamed: 5
0,01/08/2023,00:00:00,0,208,219.1,NaN
1,01/08/2023,00:15:00,0,208,219.1,NaN
2,01/08/2023,00:30:00,0,208,219.1,NaN
3,01/08/2023,00:45:00,0,207,216.9,NaN
4,01/08/2023,01:00:00,0,207,216.9,NaN

In [16]:
df_Mucum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8049 entries, 0 to 8048
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          8049 non-null   object
 1   Hora          8049 non-null   object
 2   Chuva (mm)    8049 non-null   object
 3   Nível (cm)    8049 non-null   object
 4   Vazão (m3/s)  7701 non-null   object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 377.4+ KB